<section>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.Value)" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field>
            <input type="email" placeholder="Email" matInput formControlName="email">
            <mat-error>Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Please enter a valid password.">
            <input type="password" placeholder="Password" matInput formControlName="password">            
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Submit</button>
    </form>
</section>